<include file="Public:header"/>
<div class="aright">
<div class="aright_1">

<blockquote style="padding: 10px;border-left: 5px solid #FF5722;" class="layui-elem-quote">系统信息：</blockquote>
<table width="100%">
<tr><td>服务器类型</td><td>{:php_uname('s')}</td></tr>
<tr><td>PHP版本</td><td>{:PHP_VERSION}</td></tr>
<tr><td>Zend版本</td><td>{:Zend_Version()}</td></tr>
<tr><td>服务器解译引擎</td><td>{:$_SERVER['SERVER_SOFTWARE']}</td></tr>
<tr><td>服务器语言</td><td>{:$_SERVER['HTTP_ACCEPT_LANGUAGE']}</td></tr>
<tr><td>服务器Web端口</td><td>{:$_SERVER['SERVER_PORT']}</td></tr>
</table>
<blockquote style="padding: 10px;border-left: 5px solid #FF5722;" class="layui-elem-quote">开发团队：</blockquote>
<table width="100%">
<tr><td width="110px">版权所有</td><td>阿东工作室</td></tr>
<tr><td>感谢贡献者</td><td>Thinkphp，Layer</td></tr>

</table>
</div>      
</div>
</div>
</body>
</html>